<div fxLayout="column" fxLayoutGap="20px" fxFill>
  <div fxLayout="row" fxLayoutAlign="center">
    <form [formGroup]="searchForm" (ngSubmit)="searchBooks()">
      <mat-form-field>
        <mat-label>Search in Library</mat-label>
        <input matInput type="text" formControlName="searchString">
        <mat-error *ngIf="searchForm.invalid">
          Book name is required
        </mat-error>
      </mat-form-field>
      <button type="submit" mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>
    </form>
  </div>
  <div class="books-container" fxLayout="row wrap" fxLayout.xs="coulmn wrap" *ngIf="(books$ | async) as books;">
    <ng-container *ngIf="books.items?.length;else noBooks">
      <mat-card class="book-card" *ngFor="let book of books.items; trackBy:trackByBookTitle ">
        <mat-card-header fxLayoutAlign="space-between">
          <mat-card-title>{{book.volumeInfo.title}}</mat-card-title>
          <img class="book-image" src="{{book.volumeInfo?.imageLinks?.smallThumbnail || '../../../../assets/no-image.jpg'}}" alt="No Image" />
        </mat-card-header>
        <mat-card-content>
          <p class="book-description">
            {{book.volumeInfo?.description || 'No Description'}}
          </p>
          <b>Written By : </b>
          <p *ngIf="book.volumeInfo?.authors">{{getAuthourName(book.volumeInfo.authors)}}</p>
        </mat-card-content>
      </mat-card>
    </ng-container>
    <ng-template #noBooks>No books found with the serch criteria</ng-template>
  </div>
</div>